<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form action="/cloud" method="POST" name="cloud" class='form-signin'>
    <h2 class="form-signin-heading">Get Started Now!</h2>
     <input type="text" class="input-block-level" name="hostname" placeholder="hostname">
    <input type="text" class="input-block-level" name="email" placeholder="email address"/>
        
        
    <button class="btn btn-large btn-primary" type="submit">Create</button>
</form>
<hr/>
<h1>Running instances</h2>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Instance</th>
            <th>hostname</th>
            <th>ip address</th>
            <th>status</th>
            <th>created</th>
            <th>time left</th>
            <th>delete</th></tr>
    </thead>
    <tbody>



{% for instances in running['data'] %}
        <tr>
            <td>{{ instances['templatedisplaytext'] }}</td>
            <td> {{instances['name']}}</td>
            <td> {{instances['details']['ip'] }}</td>
            <td> {{instances['state']}}
            <td> {{instances['created'] }}
            </td>
            <td></td>
            <td> <a href="/delete/{{instances['id']}}" class='delete'>delete</a></td>
        </tr>

{% endfor %}
    </tbody>
</table>
{% endblock %}


